
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <% nav_header_content_partials.each do |partial_path| %>
         <%= render partial: partial_path %>
        <% end %>
      </button>

    </div>

   